<!DOCTYPE html>
<html>
  <head>
    <title>xml2json</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_merged :base %>
    <%= javascript_include_merged :base %>
    <%= yield :extra_head %>
  </head>
  <body>
    <div id="wrapper">
      <header></header>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Live Editor", editor_path %></li>
          <li><%= link_to "API Converter", convert_path %></li>
        </ul>
      </nav>
      <%= yield %>
      <footer></footer>
    </div>
  </body>
</html>
