<!DOCTYPE html>
<html>
  <head>
    <title>xml2json</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_merged :base %>
    <%= javascript_include_merged :base %>
    <%= yield :extra_head %>
  </head>
  <body>
    <div id="wrapper">
      <header>xml2json</header>
      <nav>
        <ul>
          <li class="<%= selected('index') %>"><%= link_to "Home", root_path %></li>
          <li class="<%= selected('editor') %>"><%= link_to "Live Editor", editor_path %></li>
          <li class="<%= selected('convert') %>"><%= link_to "API Converter", convert_path %></li>
        </ul>
      </nav>
      <%= yield %>
      <footer>
        <% if current_user %>
          <%= link_to 'Show API\'s', apis_path %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <%= link_to 'Admin', login_path %>
        <% end %>
      </footer>
    </div>
  </body>
</html>

