<section id="edit-api">
  <h1>Editing API: <%= @api.url %></h1>

  <% form_for(@api) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</section>

